<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.upload.name"></h1>
  </div>
  <div class="row">

    <div class="pull-left">
      <button class="btn btn-primary" ng-click="startPlayback();">Start</button>
      <button class="btn btn-default" ng-click="pausePlayback();">Pause</button>
    </div>

    <div class="pull-right" data-ng-show="vm.upload.isCurrentUserOwner">
      <a class="btn btn-primary"
         data-ui-sref="uploads.edit({ uploadId: vm.upload._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" data-ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <!-- wavesurfer audio stream interface -->
    <div id="audiostream" class="audiostream" data-src="{{vm.upload.filePath}}">
      <!-- css loader icon -->
      <div class="loader-icon text-center" data-ng-hide="hideLoadingIcon">
        <div data-ng-bind="loadingPercent"></div>
        <div class="loader-inner line-scale-pulse-out">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <!-- end css loader icon -->
    </div>
    <!-- end wavesurfer audio stream -->
  </div>
  <div class="row">
    <small>
      <em class="text-muted">
        Posted on
        <span data-ng-bind="vm.upload.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="vm.upload.user"
              data-ng-bind="vm.upload.user.displayName"></span>
        <span data-ng-if="!vm.upload.user">Deleted User</span>
      </em>
    </small>
    <p class="lead" data-ng-bind="vm.upload.content"></p>
  </div>
</section>
