<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.upload.name"></h1>
    <!-- put the streamer here -->
    <div id="audiostream" data-src="{{vm.upload.filePath}}"></div>

  </div>
  <div class="pull-right"
       data-ng-show="vm.upload.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="uploads.edit({ uploadId: vm.upload._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.upload.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.upload.user"
            data-ng-bind="vm.upload.user.displayName"></span>
      <span data-ng-if="!vm.upload.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.upload.content"></p>
</section>
