.content {
  margin-top: 50px;
  margin-bottom: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.white {
    color: white;
}

/* loaders.css customizations */
.line-scale-pulse-out > div {
  background: dodgerblue;
}

.loader-icon {
  height:128px;
  margin-top:36px;
}

.footer-controls {
  position: relative;
  height: 128px;
  width: 100%;
}

.audiostream {
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  width: 100%;
  height: 128px;
}
.audiostream, .playback-controls, .playback-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.playback-controls, .playback-overlay {
	z-index: 10;
}
.playback-controls {
    width: 100px;
}

.playback-control-button {
    font-size: 80px;
    color: white;
    cursor: pointer;
    padding-top:20px;
    padding-bottom:20px;
}
.playback-control-button:hover {
    color: grey;
}

.footer {
  min-height:50px;
}
